$vari: #FFFFFF
$rgb: rgb(192,192,192)
$gap: 10px
$hianofontti: Brush Script MT, Brush Script Std, cursive
$tekstikoko: 20px


header
    display: flex
    #navigation
        margin-left: auto
        align-items: left


button
    background: none
    border: none
    padding: $gap
    font-family: $hianofontti
    font-size: $tekstikoko

button:hover
    background: $rgb
    border-radius: 5px
    padding: $gap

body
    color: $vari
    font-family: $hianofontti
    font-size: $tekstikoko

main
    background
        background-image: url(..\kuvat\asuntola.jpg)
        size: cover
        position: center
        height: 100px
