$vari: #000000
$rgb: rgb(192,192,192)
$hianofontti: Brush Script MT, Brush Script Std, cursive
$tekstikoko: 20px
$vaalea: #ffffff

html
    

    
.header
    background-color: $vaalea 
    display: flex
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    padding-top: 25px
    max-width: 100%
    #navigation
        margin-left: auto
        align-items: left
    a
        color: $vari


button
    background: none
    border-radius: 5px
    padding: 10px
    font-family: $hianofontti
    font-size: $tekstikoko

button:hover
    background: $rgb
    border-radius: 5px
    padding: 10px

.mainbody
    color: $vaalea
    font-family: $hianofontti
    font-size: $tekstikoko
    background-image: url(../kuvat/asuntola.jpg)
    background-repeat: no-repeat
    background-size: cover 
    margin: -18px
    margin-top: -175px
    max-width: 100%
    


main
    margin: 200px
    max-width: 100%
    h1
        color: $vari
        text-align: center
        padding: 100px

section
    position: relative
    top: 50px
    background-color: $rgb  
    margin-right: -10px
    padding-bottom:35px
    max-width: 100%
    .teksti
        text-align: left
        color: $vari
        padding: 10px

footer
    margin-top: 50px
    text-align: center
    background-color: $vaalea
    margin-left: -10px
    margin-right: -10px
    padding-bottom: 10px
    .me
        color: $vari
    #minä
        font-size: 30px
    #auttaja
        font-size: 25px

.asunnot
    font-size: 20px
    margin-bottom: 100px
    padding: 10px
    #asunto1
        background-image: url('../kuvat/asunto1.webp')
        background-repeat: no-repeat
        background-size: cover
    a
        color: $vari
        padding-right: 70px
        padding-bottom: 100px